{% extends '::base.html.twig' %}
{% block body %}

<div class="slideshow-container">
 <div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="{{ asset('images/images.jpg') }}" style="width:100%"  height="330px">
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="{{ asset('images/descarga.jpg') }}" style="width:100%"  height="330px">
</div>'
<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="{{ asset('images/images2.jpg') }}" style="width:100%" height="330px">
</div>

</div>
<br>'
<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>';
<hr>';
<br>

{% endblock %}
